body {
  background-color: rgb(20,20,20);
  color: aliceblue;
  font-family: "Quicksand", sans-serif;
}
a {
  display: block;
  color: aliceblue
}
img {
  float: left;
  border-radius: 50%;
  margin: 0 20px;
}
h1{
  text-align: center;
}
